body {
    margin: 0;
    background: black;
    color: #00ff9c;
    font-family: Consolas, monospace;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

#cam {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

#ui {
    position: absolute;
    top: 0;
    left: 0;
}

#status {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
