body{
    margin:0;
    background:black;
    color:#00ff9c;
    font-family:monospace;
    overflow:hidden;
    text-align:center;
}

.title{
    padding:10px;
}

#cam{
    position:fixed;
    right:10px;
    bottom:10px;
    width:220px;
    border:2px solid #00ff9c;
    border-radius:8px;
}

#hud{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:22px;
}
