body{
    background:#000;
    color:#00f7d1;
    font-family:Consolas, monospace;
    margin:0;
    overflow:hidden;
}

/* Scanner HUD */
#scanner{
    width:80vw;
    height:65vh;
    border:2px solid #00f7d1;
    margin:auto;
    margin-top:70px;
    position:relative;
    box-shadow:0 0 25px #00f7d1;
}

#scan-line{
    width:100%;
    height:3px;
    background:#00f7d1;
    position:absolute;
    animation:scan 2.5s infinite linear;
}

@keyframes scan{
    0%{top:0;}
    100%{top:100%;}
}

/* Chat Button */
#chat-btn{
    position:fixed;
    top:20px;
    left:20px;
    background:#003333;
    color:#00f7d1;
    padding:10px 22px;
    border:none;
    font-size:17px;
    cursor:pointer;
}

/* Chat Drawer */
#chat-panel{
    width:350px;
    height:100vh;
    background:#001818;
    position:fixed;
    top:0; right:-350px;
    padding:10px;
    transition:.45s;
    border-left:2px solid #00f7d1;
    display:flex;
    flex-direction:column;
}

#messages{
    flex:1;
    overflow-y:auto;
    font-size:15px;
    padding-right:5px;
}

/* Input stays at bottom */
#input-area{
    display:flex;
    gap:4px;
    padding-top:10px;
}

#msg{
    flex:1;
    padding:10px;
    background:#000;
    border:1px solid #00f7d1;
    color:#00f7d1;
}

#send{
    background:#00f7d1;
    border:none;
    padding:10px 14px;
    cursor:pointer;
}
