body{
  margin:0;
  background:#02040a;
  font-family:Consolas, monospace;
  overflow:hidden;
}

/* CORE HUD */
#hud{
  width:200px;height:200px;
  position:absolute;top:50%;left:50%;
  transform:translate(-50%,-50%);
}

#core{
  width:60px;height:60px;
  background:#00eaff;
  border-radius:50%;
  margin:auto;
  box-shadow:0 0 30px #00eaff;
  animation:corePulse 2s infinite;
}

.ring{
  border:2px solid #00eaffaa;
  border-radius:50%;
  position:absolute;top:50%;left:50%;
  transform:translate(-50%,-50%);
}
.r1{width:120px;height:120px;animation:ringSpin 6s linear infinite;}
.r2{width:160px;height:160px;animation:ringSpin 8s reverse infinite;}
.r3{width:220px;height:220px;animation:ringSpin 10s linear infinite;}

@keyframes corePulse{0%{transform:scale(1);}50%{transform:scale(1.15);}100%{transform:scale(1);}}
@keyframes ringSpin{0%{transform:translate(-50%,-50%) rotate(0);}100%{transform:translate(-50%,-50%) rotate(360deg);}}

/* CHAT BUTTON */
#openChat{
  position:fixed;bottom:25px;right:25px;
  background:#00eaffcc;
  border:none;border-radius:50%;
  width:55px;height:55px;font-size:24px;
  color:#001722;cursor:pointer;
}

/* CHAT PANEL */
#chatPanel{
  width:100%;max-width:400px;
  height:100vh;
  background:#001722ee;
  position:fixed;right:-100%;
  top:0;transition:.4s;
  display:flex;flex-direction:column;
  border-left:2px solid #00eaff;
}

#topbar{
  padding:12px;color:#00eaff;
  display:flex;justify-content:space-between;
  background:#002d40;
}

#messages{
  flex:1;padding:10px;
  overflow-y:auto;font-size:15px;color:white;
}

.msg{
  margin:8px 0;padding:10px;
  border-left:3px solid #00eaff;
  background:#003647aa;
  animation:fadeIn .4s;
}

/* INPUT */
#inputBox{
  display:flex;padding:8px;
  background:#00212e;border-top:1px solid #00eaff55;
}
#msgInput{
  flex:1;background:#00131d;color:#00eaff;
  border:none;padding:12px;font-size:16px;
}
#sendBtn{
  padding:12px;background:#00eaff;border:none;
  cursor:pointer;
}

@keyframes fadeIn{from{opacity:.2;}to{opacity:1;}}
