body{
    background:#000;
    color:#00ffd5;
    font-family:Consolas, monospace;
    margin:0;
    overflow:hidden;
}

/* Scanner UI */
#scanner{
    width:80vw;
    height:60vh;
    border:2px solid #00ffbf;
    margin:auto;
    margin-top:80px;
    position:relative;
    box-shadow:0 0 25px #00ffbf;
}

#line{
    width:100%;
    height:3px;
    background:#00ffbf;
    position:absolute;
    animation:scan 2.5s infinite linear;
}

@keyframes scan{
    0%{top:0;}
    100%{top:100%;}
}

/* Chat Button */
#openChat{
    position:fixed;
    top:20px; left:20px;
    padding:10px 22px;
    background:#002b2b;
    color:#00ffee;
    border:none;
    font-size:17px;
}

/* Chat Drawer */
#chatPanel{
    width:350px;
    height:100vh;
    background:#001212;
    position:fixed;
    top:0; right:-350px;
    padding:10px;
    transition:.45s;
    border-left:2px solid #00ffee;
}

#messages{
    height:85%;
    overflow-y:auto;
    font-size:15px;
    padding-right:5px;
}

#inputWrap{
    display:flex;
    gap:4px;
}

#msg{
    flex:1;
    padding:10px;
    background:#000;
    border:1px solid #00ffee;
    color:#00ffee;
}

#send{
    background:#00ffee;
    border:none;
    padding:10px 14px;
    cursor:pointer;
}
