body{
    margin:0;
    background:black;
    color:#00ff9c;
    font-family:consolas,monospace;
    overflow:hidden;
}

#login-screen{
    position:absolute;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
}

input,button{
    padding:10px;
    background:black;
    color:#00ff9c;
    border:1px solid #00ff9c;
}

#dashboard{
    display:none;
    width:100vw;
    height:100vh;
}

#matrix{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.25;
}

#hud{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#ring-main{
    width:320px;
    height:320px;
    border:3px solid #00ff9c;
    border-radius:50%;
    animation:spin 8s linear infinite;
    box-shadow:0 0 40px #00ff9c;
}

#ring-inner{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:200px;
    height:200px;
    border:2px dashed #00ff9c;
    border-radius:50%;
    animation:spinReverse 6s linear infinite;
}

@keyframes spin{to{transform:rotate(360deg)}}
@keyframes spinReverse{to{transform:rotate(-360deg)}}

#status{
    position:absolute;
    top:110%;
    width:100%;
    text-align:center;
    font-size:14px;
}

#chatPanel{
    position:absolute;
    right:-100%;
    width:80%;
    height:100%;
    background:rgba(0,0,0,.9);
    transition:.6s;
}

#openChatBtn{
    position:absolute;
    bottom:20px;
    right:20px;
}
