body{
 background:#000;
 color:#00eaff;
 margin:0;
 overflow:hidden;
 font-family: "Orbitron", sans-serif;
}

/* CENTER ARC REACTOR */
#core{
 width:220px;height:220px;
 border-radius:50%;
 margin:auto;margin-top:22vh;
 position:relative;
}

#ring{
 width:100%;height:100%;
 border:6px solid #00f6ff;
 border-radius:50%;
 box-shadow:0 0 35px #00eaff,inset 0 0 35px #00eaff;
 animation:spin 6s linear infinite;
}
@keyframes spin{100%{transform:rotate(360deg)}}

#center{
 width:60%;height:60%;
 background:#00eaffaa;
 border-radius:50%;
 position:absolute;top:20%;left:20%;
 box-shadow:0 0 40px #00eaff;
}

/* CHAT PANEL */
#openChat{
 position:fixed;
 bottom:20px;right:20px;
 background:#002b2f;
 padding:15px;border-radius:50%;
 font-size:22px;color:#00eaff;
 box-shadow:0 0 15px #00eaff;
}

#chatPanel{
 width:88vw;
 height:100vh;
 background:#021c22f5;
 position:fixed;top:0;right:-100%;
 transition:.45s;
 border-left:2px solid #00eaff;
 display:flex;flex-direction:column;
}

#header{
 text-align:center;
 padding:15px;font-size:19px;
 border-bottom:1px solid #00eaff;
}

#messages{
 flex:1;
 overflow-y:auto;
 padding:10px;
 font-size:15px;
}

/* chat bubbles */
.msg{margin-bottom:12px;max-width:80%;padding:10px;border-radius:10px;}
.user{background:#0055ff66;margin-left:auto;}
.bot{background:#00eaff33;border:1px solid #00eaff;}

/* input fixed bottom */
#inputBox{
 display:flex;gap:5px;
 padding:10px;
 background:#000c;
 position:sticky;bottom:0;
}

#msg{
 flex:1;background:#001;
 color:#00eaff;border:1px solid #00eaff;
 padding:10px;font-size:16px;
}

#send{
 background:#00eaff;color:#001;
 padding:10px 16px;font-weight:bold;
}
